<body class = "full">
<% provide(:title, 'Home') %>

<h1 id = "white-title-home"><%= image_tag("iconwhite.png") %> What Would You Do Here?</h1>

<h3 class="text-center" style="color: white;">Find Locations and Projects that interest you</h3>

<br>

<!-- Begin pills/tabs -->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 centered-pills">
    <!-- <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
      <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
      <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    </ul> -->
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">Locations</a></li>
      <li><a data-toggle="pill" href="#menu1">Projects</a></li>
    </ul>

    <div class="tab-content text-center">
      <div id="home" class="tab-pane fade in active">
        <!-- <h3>Search Vacants</h3> -->
        <%= render 'vacants/advanced_search' %>
      </div>
      <div id="menu1" class="tab-pane fade">
        <!-- <h3>Search Projects</h3> -->
        <%= render 'projects/advanced_search' %>
      </div>
    </div>
  </div>
</div>
<!-- End pills/tabs -->

<br>

<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <h3 class="text-center">Projects</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Create new project', new_project_path %>
      </li>
      <li>
        <%= link_to 'View all projects', projects_path %>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <h3 class="text-center">Users</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Create an account', new_user_path %>
      </li>
      <li>
        <%= link_to 'View all users', users_path %>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <h3 class="text-center">Locations</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Submit a location', new_user_path %>
      </li>
      <li>
        <%= link_to 'View all locations', vacants_path %>
      </li>
    </ul>
  </div>
</div>
</body>
