<% provide(:title, 'Home') %>

<h1>What Would You Do Here?</h1>

<br>

<%= render 'layouts/simple_search' %>

<br>
<br>

<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <h3 class="text-center">Projects</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Create new project', new_project_path %>
      </li>
      <li>
        <%= link_to 'View all projects', projects_path %>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <h3 class="text-center">Users</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Create an account', new_user_path %>
      </li>
      <li>
        <%= link_to 'View all users', users_path %>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <h3 class="text-center">Locations</h3>
    <ul id="links_from_home" class="text-center">
      <li>
        <%= link_to 'Submit a location', new_user_path %>
      </li>
      <li>
        <%= link_to 'View all locations', vacants_path %>
      </li>
    </ul>
  </div>
</div>
