<%= link_to 'Show Simple Search', search_path, :remote => true %>

<%= link_to 'Show Advanced Search', search_path, :remote => true %>

<div id="search-wrapper">
  <div id="spinner" class="spinner col-sm-6 col-sm-offset-3 text-center">
    <!-- <%= image_tag 'ajax-loader.gif' %> -->
    <!-- <%= image_tag 'ring-alt.gif' %> -->
    <%= image_tag 'ripple.gif' %>
  </div>
</div>
