<% provide(:title, 'Login') %>

<div class="col-sm-4 col-sm-offset-4">

	<h1 class="text-center">Login</h1>

	<!-- <hr> -->
	<br>

	<%= form_for(:user, url: sessions_path) do |f| %>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control" %>
		</div>

		<%= f.submit "Submit", class: "btn btn-block btn-primary" %>
	<% end %>

	<hr>

	<p class="text-center">New user? <%= link_to "Sign up now!", register_path %></p>

</div>
