<% provide(:title, 'All Properties') %>

<h1>Vacants</h1>

<%= will_paginate @vacants, previous_label: "&larr; Prev",
next_label: "Next &rarr;", renderer: BootstrapPagination::Rails %>

<% @vacants.each do |vacant| %>
	<hr>
	<h3><%= vacant.fulladdress %></h3>
	<h5><%= link_to "View Property", vacant_path(id: vacant) %></h5>
	<p>
		ID: <%= vacant.id %><br>
		Block/Lot: <%= vacant.blocklot %><br>
		Neighborhood: <%= vacant.neighborhood %><br>
		Police District: <%= vacant.policedistrict %><br>
		Council District: <%= vacant.councildistrict %>
	</p>
	<hr>
<% end %>

<%= will_paginate @vacants, previous_label: "&larr; Prev",
next_label: "Next &rarr;", renderer: BootstrapPagination::Rails %>
