<% provide(:title, @vacant.full_address) %>

<h1><%= @vacant.full_address %></h1>
<p>
  ID: <%= @vacant.id %><br>
  Block: <%= @vacant.block %><br>
  Lot: <%= @vacant.lot %><br>
  Neighborhood: <%= @vacant.neighborhood %><br>
  Police District: <%= @vacant.police_district %><br>
  Council District: <%= @vacant.council_district %>
</p>

<%= link_to 'Back', vacants_path %>

<%= render 'gmaps' %>
