<% provide(:title, @vacant.full_address) %>

<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<h1><%= @vacant.full_address %></h1>
<p>
  ID: <%= @vacant.id %><br>
  Block: <%= @vacant.block %><br>
  Lot: <%= @vacant.lot %><br>
  Neighborhood: <%= @vacant.neighborhood %><br>
  Police District: <%= @vacant.police_district %><br>
  Council District: <%= @vacant.council_district %>
</p>

<%= link_to 'Back', vacants_path %>

<%= render 'gmaps' %>
