<% provide(:title, @vacant.fulladdress) %>

<h1><%= @vacant.fulladdress %></h1>
<p>
  ID: <%= @vacant.id %><br>
  Block/Lot: <%= @vacant.blocklot %><br>
  Neighborhood: <%= @vacant.neighborhood %><br>
  Police District: <%= @vacant.policedistrict %><br>
  Council District: <%= @vacant.councildistrict %>
</p>
<!-- <%= link_to 'Back', vacants_path(neighborhood: '', policedistrict: '', fulladdress: @vacant.fulladdress, commit: 'Search') %> -->

<%= link_to 'Back', vacants_path %>
