<% provide(:title, 'All Projects') %>

<h1>Projects</h1>

<br>

<div class="row">
  <div class="text-center">
    <%= page_entries_info @projects, model: 'project' %>
  </div>
  <hr>
</div>

<div class="row">

  <div class="col-sm-3">
    <!-- <br> -->
    <%= render 'projects/advanced_search' %>
    <!-- <br> -->
  </div>

  <div class="col-sm-9">

    <table class="table table-hover">
      <thead>
        <tr>
    			<th>ID</th>
          <th>Project Name</th>
          <th>Stage</th>
    			<th>Description</th>
        </tr>
      </thead>
      <tbody>
    		<% @projects.each do |project| %>
    	    <tr>
    	      <th scope="row"><%= project.id %></th>
    	      <td>
    					<%= link_to project.title, project_path(id: project.id) %>
    				</td>
    	      <td><%= project.stage %></td>
    	      <td><%= project.description %></td>
    	    </tr>
    		<% end %>
      </tbody>
    </table>

    <hr>

    <div class="text-center">
      <%= will_paginate @projects, previous_label: "&larr; Prev",
      next_label: "Next &rarr;", renderer: BootstrapPagination::Rails,
      style: "display: inline-block;", inner_window: 1, outer_window: 0 %>
    </div>
  </div>

</div>
