<% provide(:title, 'Contact Us') %>
<% provide(:class, 'full') %>

<div class="account-wall col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3
						col-md-4 col-md-offset-4" style="padding-bottom: 4em;">
  <h1>Contact Us</h1>
  <hr>
  <%= form_for @ticket do |f| %>
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", :placeholder => "First & Last Name" %>
    </div>
    <div class = "form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
    </div>
    <div class = "form-group">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control", rows: "5" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-block btn-primary" %>
  <% end %>
</div>
